obj/*
*.ttf
*.csv
*.png
*.svg
*.ftb
*.lst
*.rc
arch/*
example/*
*.eot
*.html
bin/*
fonts/*
*.txt
*.bf

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
